# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

functions/democraseeclub-firebase-admin.json
build
lib
firestoredump

# Node.js dependency directory
node_modules/
