#notesDrawer {
    right: 5px !important;
    position: fixed !important;
    top: 150px !important;
    height: max-content;
    padding:0;
    box-shadow:-2px 2px 4px #6f6f6f;
    z-index: 2000 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#noteTabs {
    border:none !important
}

#notesDrawer .MuiTabs-flexContainer > .MuiButtonBase-root {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
