.editor {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 5px;
    border-radius:5px;
}

.editor legend {
    font-size: .75rem;
    color:rgba(0, 0, 0, 0.54);
}

.DraftEditor-root {
    min-height:120px;
}

.editor :global(.public-DraftEditor-content) {
    display: block;
    min-height: 140px;
}

.headlineButtonWrapper, .draftJsToolbar__buttonWrapper__1Dmqh, .toolBtn {
    display: inline-block;
    background: #fff;
    margin-right:3px
}

.editorToolbar button,
.headlineButtonWrapper button,
.draftJsToolbar__buttonWrapper__1Dmqh button,
.toolBtn button {
    background: transparent;
    border:0 none;
}

.editorToolbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.buttonWrapper {
    display: inline-block;
}
