
/*************************** Polina's styles *****************************/

#lightMode h1, #lightMode h3 {
    color: #015761;
}

#brandFooter.MuiFormControlLabel-root {
    position: fixed;
    left: 0px;
    bottom: 10px;
    background-color: #B9DFF4;
    border-radius: 10px;
    padding: 10px;
}

#brandFooter.MuiFormControlLabel-label {
    display: none;
}
#mainHeader{
    min-height: 54px !important;
}
#mainHeader div {
    color: #fff !important;
}

#mainHeader .MuiGrid-container {
    display: block;
    text-align: right;
    padding-right: 10px;
}

#mainHeader .MuiGrid-container a {
    font-weight: 500 !important;
    background-color: transparent;
    margin-left: 15px;
    padding: 8px 25px 9px;
    border-radius: 5px;
    border: 2px #005EA2 solid;
    color: #005EA2 !important;
}

#mainHeader .MuiGrid-container a.loginnav {
    color: #fff !important;
    background-color: #005EA2;
}

#mainHeader .MuiGrid-container a:hover {
    background-color: #025761 !important;
    color: #fff !important;
}

.MuiToolbar-gutters {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.inline {
    display: inline !important;
}

.slogan {
    color: #fff !important;
    text-align:center;
}
#headslogan{
    text-align:center;

}

.footerpadding {
    padding: 0px 55px;
    margin-bottom: 0px !important;
}

.footerpadding .MuiGrid-item {
    margin-right: 25px;
}

h1, h2, h3, h4, h5 {
    font-family: "Rubik", "Roboto", "Helvetica", "Arial", sans-serif !important; /* use createMuiTheme */
}

.MuiButton-containedSecondary {
    background-color: #fff !important;
    box-shadow: none !important;
}

.rallyarchivestyles {
    padding: 2% 4% !important;
    background-color: #c6e5f7;
}

.rallyarchivestyles h3 {
    padding-top: 8px;
}

.my-masonry-grid .MuiCard-root .MuiTypography-h3 {
    padding-top: 6px;
}

.my-masonry-grid {
    max-width: 1400px;
    margin: auto !important;
    padding-right: 70px;
}

.my-masonry-grid .MuiCard-root > .MuiCardContent-root {
    box-shadow: 0px 0px 10px #ccc;
    margin: 20px;
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
}

.my-masonry-grid .MuiCardActions-spacing {
    margin-top: -60px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 0px !important;
    margin-bottom: 40px;
    z-index: 9999999;
    position: relative;
}

.my-masonry-grid .MuiCardActions-spacing a {
    width: 50%;
    text-align: center;
    background-color: #b8dff5;
}

.my-masonry-grid .MuiCardActions-spacing a button {
    min-width: auto;
    width: 50%;
    text-align: center;
    background-color: #b8dff5;
    padding: 8px;
}

.my-masonry-grid .MuiCardActions-spacing button {
    width: 50%;
    margin: 0px !important;
    background-color: #e8e8e8;
    height: 40px;
    border-radius: 0px;
}

.my-masonry-grid .MuiCardContent-root .MuiCardContent-root {
    padding: 20px 30px 5px;
    margin-bottom: 24px;
}

.my-masonry-grid {
    padding-top: 15px;
    padding-bottom: 40px;
    max-width: 100%;
    margin: auto !important;
    padding-right: 30px;
}

.my-masonry-grid_column{
    padding-left: 0;
}
.my-masonry-grid .MuiCardContent-root a {
    display: block;
    color: #005ca4;
}
#darkMode .my-masonry-grid .MuiCardContent-root a {
    color:#b8dff5;
}

.my-masonry-grid .MuiCardContent-root img {
    height: auto;
}

.my-masonry-grid_column > div {
    margin: 0px 15px 0px;
}

.rallyheadstyle .MuiGrid-grid-sm-8 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 55px !important;
}

.rallyheadstyle {
    border-bottom: 1px #025761 solid;
}

.rallyheadstyle .MuiGrid-grid-sm-4 {
    margin-bottom: -3px;
}

.rallyheadstyle h6 {
    font-size: 18px;
    padding-top:10px;
}

.rallyheadstyle h6 div {
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
}

.rallyheadstyle h1 {
    padding-bottom: 10px;
    font-size: 3em;
}

.rallyheadstyle .MuiButton-containedSecondary {
    background-color: #B9DFF4 !important;
}



.MuiTypography-subtitle1 {
    padding-bottom: 0px;
    color: #83aaaf !important;
}

.mainsectionstyles nav.MuiList-padding .MuiButtonBase-root {
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.mainsectionstyles nav.MuiList-padding .MuiButtonBase-root img {
    width: 50px !important;
    height: auto !important;
}

.mainsectionstyles nav.MuiList-padding .MuiButtonBase-root a {
    font-size: 14px;
    text-decoration: none !important;
}
.mainsectionstyles{
    padding-left: 10px;
    padding-right: 40px;
}

.rallymeetingsstyle .MuiButtonBase-root {
    box-shadow: 0px 0px 10px #d85143;
    border-radius: 8px;
    margin-bottom: 20px;
}

.rallymeetingsstyle .MuiButtonBase-root span {
    font-weight: bold !important;
}
#headernav_mobile{
    display: none;
    position: absolute;
    top: 8px;
    right: 15px;
}
header{
    box-shadow: none !important;
}

@media only screen and (max-width: 1100px){
    #mainHeader{
        background: linear-gradient(45deg, #0a5760 0%, #0a5760 33%, #0a5760 33%, #0a5760 33%, #d65248 33%, #d65248 35%, #b9dff4 35%, #b9dff4 100%) !important;
    }
}
@media only screen and (max-width: 768px){
    #headernav_mobile{
        display: block;
        cursor:pointer;
    }
    #mainHeader  #headernnavd{
        display: none;
        position: absolute;
        top: 54px;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 0px;
        margin: 0px;
        height: 160px;
    }
    #mainHeader   #headernnavd  a{
        display: block;
        margin: 10px !important;
        text-align: center;
    }
    #mainHeader{
        background: linear-gradient(45deg, #0a5760 0%, #0a5760 53%, #0a5760 53%, #0a5760 53%, #d65248 53%, #d65248 55%, #b9dff4 55%, #b9dff4 100%) !important;
    }
}

@media only screen and (max-width: 480px){
    #mainHeader{
        background: linear-gradient(45deg, #0a5760 0%, #0a5760 73%, #0a5760 73%, #0a5760 73%, #d65248 73%, #d65248 75%, #b9dff4 75%, #b9dff4 100%) !important;
    }
}

.unhide{
    display: block !important;
}


.ralliesheader{
    padding-left: 10px;
    padding-top: 20px;
    text-align: left;
}
.ralliesheader button{
    margin-left:10px;
}
.ralliesheader .MuiButton-containedSecondary{
    background-color: #B9DFF4 !important;
}
.ralliesheader .MuiButton-contained{
    box-shadow: none !important;
}
.ralliesheader .MuiButton-contained:hover{
    background-color: #0a5760 !important;
    color: #fff !important;

}
.bluebtn{
    background-color: #B9DFF4 !important;
}
.redbtn{
    color: #fbffff!important;
    text-decoration: none!important;
    background-color: #D83933!important;
    margin-left: 15px!important;
}
.rallyactions{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: left;
}
.rallyactions h1{
    float: right;
    padding-right: 20px;
    font-size: 28px;
}
.rallyFeatured{
    margin: 10px 40px;
}
.rallyFeatured .rallyvideo{
    padding-right: 0px !important;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.rallyFeatured video{
    margin-bottom: -5px;
}
.circlecrop{
    width:100px;
    height:100px;
    border-radius:100px;
    overflow:hidden;
    position:relative;
    float: left;
    margin-right: 20px;
}
.circlecrop img{
    height: 100%;
    width: auto;
    max-width: unset !important;
    text-align: center;
}
.rallyFeatured .MuiGrid-grid-sm-8{
    padding-top:0px !important;
}
.rallymeetingsstyle nav{
    padding:0px !important;
}
.rallymeetingsstyle {
    padding-top: 10px;
}
a .researchbox,
a .researchbox span{
    color: #0a5760 !important;
}
#darkMode  a .researchbox,
#darkMode  a .researchbox span{
    color: #fff !important;
}
.researchbox .MuiListItemIcon-root{
    display: block !important;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.researchbox .MuiListItemText-root span{
    font-size: 14px;
    padding-top: 4px;
    padding-right: 12px;
}
.researchbox{
    display: flex;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.researchbox span{
    text-decoration: none !important;
}
.rallyFeatured .MuiBox-root a{
    text-decoration: none !important;
}
.researchbox img{
    width: 50px;
    height: auto !important;
    min-height:unset !important;
    max-height: unset !important;
}
.rallyFeatured .MuiGrid-grid-md-4 .MuiTypography-subtitle1{
    padding-left: 15px;
    margin-top: 10px !important;
}
.rallymaindescription{
    font-size:16px;
    line-height:24px;
    padding-bottom:40px;
}
.rallymeetingsstyle button{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-weight: normal !important;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none !important;
}
.rallymeetingsstyle button span{
    font-weight: 500 !important;
}
.notset{
    color:#ccc;
}
.videoArea header{
    background-color: transparent;
}
.videoArea header .MuiBox-root{
    min-height: 300px;
    background-color: #E6E6E6;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 10px;
}
.agendatoolbar{
    background-color: transparent !important;
    margin-top:-10px !important;
}
.agendatoolbar .MuiToolbar-regular{
    min-height: unset !important;
}
#meetingAgenda h3{
    font-weight: 500 !important;
    font-size: 20px !important;
    border-radius: 10px;
}
#meetingAgenda h5{
    font-size: 16px !important;
    font-weight: 400 !important;
}
#meetingAgenda >div{
    padding-top:0px;
    padding-left:25px;
    padding-right:25px;
}
#meetingAgenda li,
#meetingAgenda p{
    font-size: 16px;
    line-height: 24px;
}
