body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App { display:flex; flex-direction:column; justify-content: space-between; min-height: 100vh; height: 100% }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#lightMode #mainHeader {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a5760+0,0a5760+25,0a5760+25,0a5760+25,d65248+26,d65248+34,b9dff4+27,b9dff4+100 */
  background: #0a5760; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #0a5760 0%, #0a5760 26%, #0a5760 26%, #0a5760 26%, #d65248 26%, #d65248 28%, #b9dff4 28%, #b9dff4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #0a5760 0%,#0a5760 26%,#0a5760 26%,#0a5760 26%,#d65248 26%,#d65248 28%,#b9dff4 28%,#b9dff4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #0a5760 0%,#0a5760 26%,#0a5760 26%,#0a5760 26%,#d65248 26%,#d65248 28%,#b9dff4 28%,#b9dff4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a5760', endColorstr='#b9dff4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#lightMode .MuiTypography-root a,
#darkMode .MuiTypography-root a,
#lightMode a .MuiTypography-root,
#darkMode a .MuiTypography-root,
#lightMode a.MuiTypography-root,
#darkMode a.MuiTypography-root { color:inherit; }
body button a, body .MuiCardActions-root a {text-decoration: none}

#darkMode #mainHeader {
  background: #0a5760; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #0a5760 0%, #0a5760 26%, #0a5760 26%, #0a5760 26%, #d65248 26%, #d65248 28%, #b9dff4 28%, #b9dff4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #0a5760 0%,#0a5760 26%,#0a5760 26%,#0a5760 26%,#d65248 26%,#d65248 28%,#b9dff4 28%,#b9dff4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #0a5760 0%,#0a5760 26%,#0a5760 26%,#0a5760 26%,#d65248 26%,#d65248 28%,#b9dff4 28%,#b9dff4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a5760', endColorstr='#b9dff4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

iframe { min-height:450px; width: 100%}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin: 30px 15px;
}

/*************************** Polina's styles *****************************/

#lightMode h1, #lightMode h3{
  color: #015761;
}
div[class*="Home-section-"] {
  padding:0 !important;
}
div[class*="Home-section-"] > .MuiGrid-root{
  background-image: url(/images/democrasee_hero.png) !important;
  background-size:contain !important;
  background-position: center center !important;
  height: 530px !important;
  min-height: auto !important;
  display: block !important;
    padding-top: 55px !important;

}
div[class*="Home-section-"] .MuiGrid-container .MuiPaper-elevation1{
  width: 440px;
  max-width: 100%;
  margin:0 !important;
  padding:0 !important;
}
div[class*="Home-section-"] .MuiGrid-container .MuiPaper-elevation1 h1{
    font-size: 3em;
    padding-bottom: 30px;
}
div[class*="Home-section-"] .MuiGrid-container .MuiPaper-elevation1 h3{
  font-size: 21px;
}
div[class*="Home-section-"] .MuiGrid-container .MuiGrid-item{
      padding: 0px 75px 25px 75px !important;
}
footer .MuiFormControlLabel-root{
    position: fixed;
    left: 0px;
    bottom: 10px;
    background-color: #B9DFF4;
    border-radius: 10px;
    padding: 10px;
}
footer .MuiFormControlLabel-label{
    display:none;
}
.MuiButton-root{
    padding: 8px 25px;
    margin-right: 20px !important;
    font-size: 1em !important;
}
#mainHeader div{
  color: #fff !important;
}
header .MuiGrid-container{
    display: block;
    text-align: right;
    padding-right: 55px;
}
header .MuiGrid-container a{
    font-weight: 500 !important;
    background-color: #fff;
    margin-left: 35px;
    padding: 8px 25px 9px;
    border-radius: 5px;
}
header .MuiGrid-container a:first-child{
    color: #025761 !important;
}
header .MuiGrid-container a.loginnav{
      color: #da372c !important;
}
header .MuiGrid-container a:hover{
      background-color: #025761 !important;
    color: #fff !important;
}
.MuiToolbar-gutters{
  padding-left:12px !important;
  padding-right:12px !important;
}
.homepageboxes img{
    margin-bottom: 20px;
}
.homepageboxes h2{
  padding-bottom: 10px;
      font-weight: 500 !important;
}
.homepageboxes span{
      padding: 0px;
}
.homepageboxes a{
      display: block;
    padding-top: 10px;
    padding-bottom: 30px;
}
.inline{
  display: inline !important;
}
#darkMode .homepageboxes img,
#darkMode .homepageinfo img{
  filter: brightness(0) invert(1);
}
.slogan{
  color:#fff !important;
}
.footerpadding{
  padding:0px 55px;
  margin-bottom:0px !important;
}
.footerpadding .MuiGrid-item{
  margin-right:25px;
}
.homepageinfo{
      border-top: 10px #015761 solid;
    margin-top: 20px;
}
.homepageinfo h2{
      color: #015761;
    font-size: 3em;
    text-align: center;
    width: 600px;
    max-width: 100%;
    margin: 40px auto;
}
.homepageinfo img{
  max-width:150px;
  margin:auto;
}
div[class*="Home-section-"] .homepageinfo .MuiGrid-item .MuiGrid-item{
      padding: 40px 10px !important;
          text-align: center;
}
h1,h2,h3,h4,h5{
  font-family: "Rubik", "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.homepageinfo h3{
  font-size:2em;
      color: #015761;
          text-align: left;
          margin-top: 0px;
    margin-bottom: 5px;
}
.homepageinfo p{
      color: #015761;
          text-align: left;

}
.homepagebottom h2,
.homepagebottom p{

      color: #015761;
}
#darkMode .homepageinfo h3,
#darkMode .homepageinfo h2,
#darkMode .homepageinfo p,
#darkMode .homepagebottom h2,
#darkMode .homepagebottom p{
      color: #fff;
}
.homepagebottom h2{
  font-size: 2em;
}
.homepagebottom{
  padding-top:20px;
  text-align:center;
  padding-bottom:60px;
}
